<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FundamentalPath" value="D:\Projects\ChartLab\NewData\Fundatmental" />
    <add key="HistoricalDataFilePath" value="D:\Projects\ChartLab\NewData\HistoricalIndices" />
    
    <add key="MasterDataFilePath" value="D:\Projects\ChartLab\NewData\MasterData" />
  </appSettings>
</configuration>