<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net"
       type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  
  <log4net>

    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="file" value="c:\Log Files\log.txt" />
      <param name="appendToFile" value="true" />
      <param name="rollingStyle" value="Size" />
      <param name="maxSizeRollBackups" value="10" />
      <param name="maximumFileSize" value="100KB" />
      <param name="staticLogFileName" value="true" />
      <param name="threshold" value="WARN"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n" />
        <param name="Footer" value="[Footer]\r\n" />
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
    </appender>
    
    <appender name="RollingFileAppender2"  type="log4net.Appender.RollingFileAppender">
      <param name="file" value="c:\Log Files\dividend.txt" />
      <param name="appendToFile" value="true" />
      <param name="rollingStyle" value="Size" />
      <param name="maxSizeRollBackups" value="10" />
      <param name="maximumFileSize" value="100KB" />
      <param name="staticLogFileName" value="true" />
      <param name="threshold" value="INFO"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n" />
        <param name="Footer" value="[Footer]\r\n" />
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
      <filter type="log4net.Filter.StringMatchFilter">
        <stringToMatch value="Some Dividend Data is present for this symbol" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    
    <appender name="RollingFileAppender1"  type="log4net.Appender.RollingFileAppender">
      <param name="file" value="c:\Log Files\logTime.txt" />
      <param name="appendToFile" value="true" />
      <param name="rollingStyle" value="Size" />
      <param name="maxSizeRollBackups" value="10" />
      <param name="maximumFileSize" value="100KB" />
      <param name="staticLogFileName" value="true" />
      <param name="threshold" value="INFO"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n" />
        <param name="Footer" value="[Footer]\r\n" />
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
      <filter type="log4net.Filter.StringMatchFilter">
        <stringToMatch value="Programme" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>

    <appender name="RollingFileAppender3"  type="log4net.Appender.RollingFileAppender">
      <param name="file" value="c:\Log Files\logWrongSymbols.txt" />
      <param name="appendToFile" value="true" />
      <param name="rollingStyle" value="Size" />
      <param name="maxSizeRollBackups" value="10" />
      <param name="maximumFileSize" value="100KB" />
      <param name="staticLogFileName" value="true" />
      <param name="threshold" value="WARN"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n" />
        <param name="Footer" value="[Footer]\r\n" />
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
      <filter type="log4net.Filter.StringMatchFilter">
        <stringToMatch value="YAHOO FINANCE NO Data For Symbol" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    
    <appender name="RollingFileAppenderError"  type="log4net.Appender.RollingFileAppender">
      <param name="file" value="c:\Log Files\ErrorLog.txt" />
      <param name="appendToFile" value="true" />
      <param name="rollingStyle" value="Size" />
      <param name="maxSizeRollBackups" value="10" />
      <param name="maximumFileSize" value="100KB" />
      <param name="staticLogFileName" value="true" />
      <param name="threshold" value="ERROR"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n" />
        <param name="Footer" value="[Footer]\r\n" />
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
      <filter type="log4net.Filter.StringMatchFilter">
        <stringToMatch value="Error:" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    
    <appender name="RollingFileAppenderWarn"  type="log4net.Appender.RollingFileAppender">
      <param name="file" value="c:\Log Files\WarnLog.txt" />
      <param name="appendToFile" value="true" />
      <param name="rollingStyle" value="Size" />
      <param name="maxSizeRollBackups" value="10" />
      <param name="maximumFileSize" value="100KB" />
      <param name="staticLogFileName" value="true" />
      <param name="threshold" value="WARN"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n" />
        <param name="Footer" value="[Footer]\r\n" />
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
      <filter type="log4net.Filter.StringMatchFilter">
        <stringToMatch value="Warn:" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    
    <appender name="RollingFileAppenderSA"  type="log4net.Appender.RollingFileAppender">
      <param name="file" value="c:\Log Files\info\SymbolAnalytics.text" />
      <param name="appendToFile" value="true" />
      <param name="rollingStyle" value="Size" />
      <param name="maxSizeRollBackups" value="10" />
      <param name="maximumFileSize" value="100KB" />
      <param name="staticLogFileName" value="true" />
      <param name="threshold" value="INFO"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n" />
        <param name="Footer" value="[Footer]\r\n" />
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
      <filter type="log4net.Filter.StringMatchFilter">
        <stringToMatch value="Symbol Analytics" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>

    <appender name="RollingFileAppenderBuySell"  type="log4net.Appender.RollingFileAppender">
      <param name="file" value="c:\Log Files\info\BuySell.text" />
      <param name="appendToFile" value="true" />
      <param name="rollingStyle" value="Size" />
      <param name="maxSizeRollBackups" value="10" />
      <param name="maximumFileSize" value="100KB" />
      <param name="staticLogFileName" value="true" />
      <param name="threshold" value="INFO"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n" />
        <param name="Footer" value="[Footer]\r\n" />
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
      <filter type="log4net.Filter.StringMatchFilter">
        <stringToMatch value="BuySell" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>

    <appender name="RollingFileAppenderProEdge"  type="log4net.Appender.RollingFileAppender">
      <param name="file" value="c:\Log Files\ProEdge\ProEdge.txt" />
      <param name="appendToFile" value="true" />
      <param name="rollingStyle" value="Size" />
      <param name="maxSizeRollBackups" value="10" />
      <param name="maximumFileSize" value="100KB" />
      <param name="staticLogFileName" value="true" />
      <param name="threshold" value="INFO"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n" />
        <param name="Footer" value="[Footer]\r\n" />
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
      <filter type="log4net.Filter.StringMatchFilter">
        <stringToMatch value="ProEdge:" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    
    
    <appender name="RollingFileAppenderSNPCurData"  type="log4net.Appender.RollingFileAppender">
      <param name="file" value="c:\Log Files\info\SnpCurDataImport.text" />
      <param name="appendToFile" value="true" />
      <param name="rollingStyle" value="Size" />
      <param name="maxSizeRollBackups" value="10" />
      <param name="maximumFileSize" value="100KB" />
      <param name="staticLogFileName" value="true" />
      <param name="threshold" value="INFO"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n" />
        <param name="Footer" value="[Footer]\r\n" />
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
      <filter type="log4net.Filter.StringMatchFilter">
        <stringToMatch value="SnpDataImport" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    
    <appender name="RollingFileAppenderEmailAlert"  type="log4net.Appender.RollingFileAppender">
      <param name="file" value="c:\Log Files\info\EmailAlert.text" />
      <param name="appendToFile" value="true" />
      <param name="rollingStyle" value="Size" />
      <param name="maxSizeRollBackups" value="10" />
      <param name="maximumFileSize" value="100KB" />
      <param name="staticLogFileName" value="true" />
      <param name="threshold" value="INFO"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n" />
        <param name="Footer" value="[Footer]\r\n" />
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
      <filter type="log4net.Filter.StringMatchFilter">
        <stringToMatch value="EmailAlert" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    
    <appender name="RollingFileAppenderOthers"  type="log4net.Appender.RollingFileAppender">
      <param name="file" value="c:\Log Files\info\ProcessLog.text" />
      <param name="appendToFile" value="true" />
      <param name="rollingStyle" value="Size" />
      <param name="maxSizeRollBackups" value="10" />
      <param name="maximumFileSize" value="100KB" />
      <param name="staticLogFileName" value="true" />
      <param name="threshold" value="INFO"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n" />
        <param name="Footer" value="[Footer]\r\n" />
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
      <filter type="log4net.Filter.StringMatchFilter">
        <stringToMatch value="Process" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n" />
        <param name="Footer" value="[Footer]\r\n" />
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
    </appender>

    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
      <param name="to"  value="om.omshiv@gmail.com" />
      <param name="from" value="brett@thechartlab.com" />
      <param name="subject" value="Errors Report" />
      <param name="smtpHost" value="smtp.gmail.com" />
      <param name="authentication" value="Basic" />
      <param name="port" value="587" />
      <param name="username" value="brett@thechartlab.com" />
      <param name="password" value="bartman2424" />
      <param name="bufferSize" value="1" />
      <param name="EnableSsl" value="true"/>
      <param name="lossy" value="true" />
      <evaluator type="log4net.Core.LevelEvaluator">
        <param name="threshold" value="ERROR"/>
      </evaluator>
      <layout type="log4net.Layout.PatternLayout">
        <param name="conversionPattern" value="%newline%date [%thread] %-5level %logger [%property{NDC}] - %message%newline%newline%newline" />
      </layout>
    </appender>

    <root>
      <level value="INFO" />
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="RollingFileAppender1" />
      <appender-ref ref="RollingFileAppender2" />
      <appender-ref ref="RollingFileAppender3" />
      <appender-ref ref="RollingFileAppenderProEdge" />
      
      <appender-ref ref="RollingFileAppenderError" />
      <appender-ref ref="RollingFileAppenderWarn" />
      
      <appender-ref ref="RollingFileAppenderSA" />
      <appender-ref ref="RollingFileAppenderBuySell" />
      <appender-ref ref="RollingFileAppenderEmailAlert" />
      <appender-ref ref="RollingFileAppenderOthers" />
      <appender-ref ref="RollingFileAppenderSNPCurData" />
      
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="SmtpAppender" />
   </root>
    
    
  </log4net>
  
  <appSettings>

    
    <add key="ConnectionString" value="DRIVER={MySQL ODBC 5.1 Driver}; SERVER=199.30.94.51; DATABASE=securitymaster; UID=root; PASSWORD=mysql; OPTION=3 " />
    <add key="MongoServer" value="mongodb://199.30.94.50" />
   
    <add key="SMTPServer" value="smtp.gmail.com" />
    <add key="AdminEmail" value="chartlabalerts@thechartlab.com" />
    <add key="AdminPassword" value="P0o9i8u&amp;" />
    <add key="SMTPPort" value="587" />
    
    <add key="SymbolAnalyticsFolder" value="D:/SymbolAnalytics" />
    <add key="OBOSRatingFolder" value="D:/ChartLabFiles/OBOSRating" />
    <add key="PatternsFilePath" value="D:/ChartLabFiles/Patterns" />
    <add key="PatternsCsvFolder" value="D:/ChartLabFiles/PatternsCsvFiles" />
    <add key="UpdatedTrendFolder" value="D:/ChartLabFiles/UpdatedTrendFile" />
    <add key="BuySellRatingFolder" value="D:/ChartLabFiles/BuySellRating" />
    <add key="BSRatingCsvFolder" value="D:/ChartLabFiles/BSRatingCsvFile" />
    <add key="BSRatingChangeHistCsvFolder" value="D:/ChartLabFiles/ChangeRatingHistoryCsvFile" />
    <add key="IndustrySymbolFolder" value="D:/ChartLabFiles/IndustrySymbolFile" />
    <add key="UsersInfoFolder" value="D:/ChartLabFiles/UsersInfoFile" />
    <add key="HistoricalDataFilePath" value="D:/ChartLabFiles/HistoricalDataFilePath" />
    <add key="ERRORSymbolsPath" value="D:/ChartLabFiles/ERRORSymbols" />
    <add key="NewSymbolsFilePath" value="D:/ChartLabFiles/NewSymbols" />
    <add key="DailyAvgVolumePath" value="D:/DailyAvgVolume" />
    <add key="HistoricalVolumePath" value="D:/ChartLabFiles/HistoricalVolumeFile" />
    <add key="HistoricalVolumeAlertPerfPath" value="D:/ChartLabFiles/HistoricalVolumeAlertPerfFile" />
    <add key="SentimentIndicatorPerfPath" value="D:/ChartLabFiles/SentimentIndicatorPerfFile" />
    <add key="GroupPerformancePath" value="D:/ChartLabFiles/GroupPerformanceFile" />
    <add key="StrongWeakSymbolsFilePath" value="D:/ChartLabFiles/StrongWeakSymbolsFile" />
    <add key="LongShortPerfFilePath" value="D:/ChartLabFiles/LongShortPerfFile" />
    <add key="SectorPerfHistFilePath" value="D:/ChartLabFiles/SectorPerfHist" />
    <add key="SectorPerfDailyFilePath" value="D:/ChartLabFiles/SectorPerfDaily" />
    <add key="SymbolRuleFilePath" value="D:/ChartLabFiles/SymbolRuleFile" />
    <add key="SnPSpecificDatePricesPath" value="D:/ChartLabFiles/SnPSpecificDatePrices" />
    <add key="CTRatingChangeHistFilePath" value="D:/ChartLabFiles/CTRatingChangeHistory" />
    <add key="StatisticsPath" value="D:/ChartLabFiles/Statistics" />
    <add key="AlertsPath" value="D:/ChartLabFiles/Alerts" />
    <add key="ETFSymbolsDataPath" value="D:/ChartLabFiles/ETFMarketData" />
    <add key="BuySellRatingFTPFilesPath" value="D:/ChartLabFiles/buysellrating" />
    
    <!--<add key="CTRatingHistoryFilePath" value="D:/CTRatingHistoryFile" />
    <add key="CTRatingPerfFilePath" value="D:/CTRatingPerfFile" />-->
  </appSettings>
</configuration>

